{% extends 'base.html' %}

{% block ncontent %}
<div class="jumbotron jumbotron-fluid" style="background: #b2c9f4;">
  <div class="container">
    <h1 class="display-3" style="color: #042e7a"> Twitter graphs </h1>
    <p class="lead">Input a username below and generate graphs for tweet times, tweet length, ...</p>
    <form method="POST" action="#next">
	    <div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">@</span>
		  <input class="form-control" placeholder="Username" name="user" id="user" required>
	  </div> 
	</br>
		<p><input class="btn btn-primary btn-lg" type="submit" value="Get Started" name="action">
		</p>
	</form>
  </div>
</div>

{% endblock %}
{% block content %}
	

{% endblock %}