{% extends 'base.html' %}

{% block ncontent %}
<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Tweet Analyzer</h1>
          <p>This is a small webapp that can analyze information given a twitter username!</p>
          <p><a class="btn btn-primary btn-large" href="#soonTM" role="button">Learn more &raquo;</a></p>
        </div>
</div>
<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
          	<div class="card" style="background: #cee8ce">
	            <h2 class="card-header" style="color: #054205">Classify</h2>
	            <div class= "card-body">
		            <p style="color: #054205"> Create a custom classifier that differentiates between the text of different accounts' tweets.  </p>
		            <p><a class="btn btn-secondary" href="{{ url_for('classify.index') }}" role="button">Go there &raquo;</a></p> 
	        	</div>
	          </div>
	      </div>
          <div class="col-md-4">
          	<div class="card" style="background: #dacee5;">
	            <h2 class="card-header" style="color: #3b076b">Analyze</h2>
	            <div class= "card-body">
		            <p style="color: #3b076b"> Find details of a user's tweets, including frequencies of different types of text. </p>
		            <p><a class="btn btn-secondary" href="{{ url_for('analyze.index') }}" role="button">Go there &raquo;</a></p>
		        </div>
	          </div>
	      </div>
          
          <div class="col-md-4">
            <div class="card" style="background: #b2c9f4;">
            <h2 class="card-header" style="color: #042e7a">Graphs</h2>
            <div class= "card-body">
                <p style="color: #042e7a;"> Generate graphs about a user's twitter activity </p>
                <p><a class="btn btn-secondary" href="{{ url_for('graphs.index') }}" role="button">Go there &raquo;</a></p>
            </div>
          </div>
          </div>
        </div>
        <hr>

      </div> <!-- /container -->
{% endblock %}