{% extends 'base.html' %}
{% block header %}
  <h2>{% block title %}Analyze{% endblock %}
  	<small class="text-muted">Emoji Frequency</small>
  </h2>

{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="row">
	<div class="col-7">
		<p> Input a twitter username below and what you want to analyze.</p>

	  <form method="POST">
	  	<label for="user">Username</label>
	    <input name="user" id="user" value={{ user }} required>

	    <select name="options" method="GET" action="/">
		    {% for option in options %}
			    {% if option == 'Emoji Frequency' %}
			    	<option value= "{{ option }}" SELECTED="selected">{{option}}</option>
			    {% else %}
			    	<option value= "{{ option }}">{{option}}</option>"
		    	{% endif %}
		    {% endfor %}
		</select>
		</br> </br>
	    <div class="form-group row">
	      <div class="col-xs-1" style="width: 90px; margin-left:15px;">
	      	<input name="start" class="form-control" id="start" placeholder="Start" value="{{request.form['start']}}">
	      </div>
	      <div class="col-xs-1" style="width: 90px; margin-left:15px;">
	        <input name="end" class="form-control" id="end" placeholder="End" value="{{request.form['end']}}">
	      </div>
	  </br> </br>
	    </div>
		<ol class="list-group" style="max-height: 300px; overflow-y:scroll;">
			{% for item in lst %}
			<li class="list-group-item" value="{{ item }}">{{ item }}</li>
			{% endfor %}
		</ol>
	    </br>
	    <input class="btn btn-dark" type="submit" value="Submit">

	</div>
	<div class="col-5">
		<div class="card bg-info mb-3 text-white">
			<h4 class="card-header">Information</h4>
			<div class="card-body">
				<h5 class="card-title">Most Common Emojis</h5>
				<p class="card-text"> This will show the most commonly used emojis of any given user. To keep it concise, enter a range in Start and End and we will display the most common emojis tweeted within that range. </p>
				<p class="card-text"> Some potentially helpful information:</p>
				<ul class="card-text">
					<li> Retweets aren't considered, so hashtags used in retweets aren't counted </li>
					<li> Characters found in the python "emoji" module under UNICODE_EMOJI are considered to be emojis </li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
  </form>
{% endblock %}