{% extends 'base.html' %}
{% block header %}
  <h2 class="ml-auto">{% block title %}Analyze{% endblock %}</h2>
{% endblock %}
{% block content %}
<p> Input a twitter username below and what you want to analyze.</p>
  <form method="post">
    <label for="user">Username</label>
    <input name="user" id="user" value="{{ request.form['user'] }}" required>

    <select name= options method="GET" action="/">
	    {% for option in options %}
	    <option value= "{{ option }}" SELECTED>{{option}}</option>"
	    {% endfor %}
	</select>
    <div></div>
    <input class="btn btn-dark" type="submit" value="Submit">

  </form>
{% endblock %}